
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

.cont {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    width: 100% auto;
    background: black;
    opacity: .9;
    height: 100%;
}

.navbar {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
}


.logo h1 {
    padding: .5em;
    color:rgb(179, 42, 179);
}

ul {
    display: flex;
    list-style: none;
position: static;}

ul li a {
    text-decoration: none;
    padding: 1.7em;
    display: inline-block;
    transition: all .5s;
    position: relative;
    border-right: 1.5px solid purple;
    color:rgb(179, 42, 179);
font-weight: bold;
font-size: medium;
}

ul li a:hover::before {
    transform: scaleX(1);
}

ul li a:hover {
    background: rgb(214, 120, 214);
}



