<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
  </head>
  <body>
    <div class="header">
        <div class="cont">
            <div class="navbar">
                <div class="logo">
                    <h1><i class="fa fa-address-book" style="font-size:36px">  My contacts</i></h1>
                </div>
                <div class="menu">
                    <ul>
                        <li><a routerLink='login'>Sign in / Sign up</a><br/></li>
                        <li><a routerLink='contacts'>Contact List</a></li>
                        <li><a routerLink='groups'>Groups</a></li>
                        <li><a routerLink=''>Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>