thead{
    width: 100% auto;
    background: white;

    padding: .5em;
    color:purple;
    font-size: medium;
    font-weight: bold;
    
  
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 70%;
    padding: 10px;
}



.btn2{
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    background: purple;
    color: #fff;
    font-size: 12px;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    transform: translate(580%, 60%);
  
  }

button:focus{
    outline: none;
}
button.ghost{
    background: transparent;
    border-color: #fff;
}
.btn-secondary{
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
 
  }
  h1{
    color: black;
    text-shadow: 2px 2px 7px purple;
    margin: auto;
    width: 70%;
    padding: 10px;
}
  table, th, td {
    border-left: none;
    border-right: none;
  }
tr:nth-child(even) {background-color: #DFA0C6;}
.dropdown-menu li {
    width: auto;
    min-width: 300px; 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-menu li:hover {background-color: #f1f1f1}
  .dropdown-menu{
      width: auto;
  }
  input{
    background: #eee;
    border: none;
    width:10%;
    margin: 10px;
    padding: 10px;
  
  }
  .search{
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  .filter{
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  select{
    background: #eee;
    border: none;
    width:70%;
    padding: 10px 15px;
    margin: 2px;
  }


