<h1>Contacts</h1>

<br/>
<br/>
<div class="search">
    <input class="tHT4-2 placeholder" type="text" id="firstName" name="firstName"  placeholder="First Name">
    <input class="tHT4-2 placeholder" type="text" id="lastName" name="lastName"  placeholder="Last Name">
    <button (click)="searchByName()">Search</button>
</div>
<div class="filter">
    <h4>Filter by group: </h4>
    <select type="text"  id="groupName" (change)="filterByNameGroup($event.target.value)" >
        <option hidden >Select Group </option>
        <option  *ngFor="let group of groups;" >{{group.groupName}}</option>
        </select>
</div>
<br/>
<table  >
    <thead>
    <tr>
        <td></td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Means Of Contact</td>
        <td>Groups</td>
        <td></td>
        <td></td>
    </tr>
</thead>
<tbody>
    <tr *ngFor ="let contact of contacts">
        <td><img src={{contact.img}}/></td>
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li *ngFor="let meanContract of contact.meansOfContact">{{meanContract.typeOfMeanContact}}: {{meanContract.value}}</li>
                </ul>
              </div>
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li *ngFor="let group of contact.groups">{{group.groupName}}</li>
                </ul>
              </div>
        </td>

        <td><button (click)="routeToUpdateContact(contact.contact_id)">Update</button></td>
        <td><button (click)="deleteContact(contact.contact_id)" >Delete</button></td>
    </tr>
</tbody>
</table>
    <br/>
   
    <div>

    <button class="btn2" (click)="routeToAddContact()">Add Contact</button>
</div>
<br/>
<br/>
