<h1>Update Contact</h1>
<br /> <br />
<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input type="text" id="FirstName" formControlName="firstName">
    <div class="validation-msg" *ngIf="form.get('firstName').invalid">
        *First Name is required
    </div>
    <br /> <br />
    <input type="text" id="LastName" formControlName="lastName">
    <div class="validation-msg" *ngIf="form.get('lastName').invalid">
        *Last Name is required</div>


    <br /><br /><br />
    <div formGroupName="address">
        <input type="hidden" formControlName="typeOfMeanContact">
        <input type="text" formControlName="value" placeholder="Address">
    </div>

    <br /> <br />
    <div formGroupName="website">
        <input type="hidden" formControlName="typeOfMeanContact">
        <input type="text" formControlName="value" placeholder="Website">
        <div class="validation-msg" *ngIf="form.get('website').invalid && form.get('website').touched">
            *Invalid website
        </div>
    </div>

    <br /> <br />
    <div formGroupName="username">
        <input type="hidden" formControlName="typeOfMeanContact">
        <input type="text" formControlName="value" placeholder="UserName">
    </div>
    <br /> <br />
    <app-image [currentFormGroup]="form"></app-image>
    <h4>Means Of Contact:</h4>

    <div formArrayName="meansOfContact">

        <div *ngFor='let contact of meansOfContact.controls;index as i'>
            <button type="button" (click)="deleteMeanContact(i)" class="delete fa fa-times" aria-hidden="true"></button>
            <app-add-mean-of-contact [currentFormGroup]="contact" [currentIndex]="i"></app-add-mean-of-contact>

        </div>
        <button type='button' class="btn btn-dark" (click)="AddToForm()">Add Mean Of Contact</button>
        <br /> <br />
    </div>

    <h4>Groups:</h4>
    <div formArrayName="groups">
        <div *ngFor='let grp of groups.controls;index as i'>
            <button type="button" (click)="deleteGroup(i)" class="delete fa fa-times" aria-hidden="true"></button>
            <add-groups [currentFormControl]="grp" [currentIndex]="i"></add-groups>

        </div>
        <button type='button' class="btn btn-dark" (click)="AddGroupToForm()">Add another group</button>
    </div>


    <br /> <br />
    <button class="add-btn" type='submit' [disabled]="!form.valid">Submit</button>
</form>