
<h1>Add Contact</h1>
<br/> <br/>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" id= "FirstName" formControlName="FirstName" placeholder="First Name"> 
    <br/> <br/>
    <input type="text" id="LastName" formControlName="LastName" placeholder="Last Name"> 
    <br/> <br/>
    <input type="text" id="Adress" formControlName="Adress" placeholder="Adress"> 
    <br/> <br/><br/>
    <app-image></app-image>
   <h4>Means Of Contact:</h4>
    <div formArrayName="MeansContact">
    <div *ngFor='let contact of MeansContact.controls;index as i'>
        <app-add-mean-of-contact 
        [currentFormGroup]="contact" [currentIndex]="i"></app-add-mean-of-contact>
   
        <br/> <br/>
    </div>
    <button type='button' class="btn btn-dark"(click)="AddToForm()">Add Mean Of Contact</button>
    <br/> <br/>
</div>
   
   
<h4>Groups:</h4>
    <div formArrayName="Groups">
        <div *ngFor='let grp of Groups.controls;index as i'>
            <add-groups [currentFormGroup]="grp" [currentIndex]="i"></add-groups> 
            </div>
        </div>
         
            <button type='button' class="btn btn-dark" (click)="AddGroupToForm()">Add another group</button>
            <br/> <br/>
            <button class="add-btn"type='submit' >Submit</button>
</form>

 
