<div id="groupContacts">
    <table>
        <tr>
            <td colspan="2">
                <h2 class="text-primary text-center"><strong>{{groupName}}</strong></h2>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="title">
                <h4>Participants:</h4><br />
            </td>
        </tr>
        <tr *ngFor="let contact of groupContacts">
            <td>
                <div>
                    <h5>{{contact.firstName}}</h5>
                </div>
            </td>
            <td id="btn">
                <button class="btn3" id="btn" title="Remove" (click)="deleteContactFromGroup(contact.contact_id)">
                    <i class="fa fa-close"></i> </button>
            </td>
        </tr>
    </table>
</div>