<form [formGroup]="form" (ngSubmit)="onSubmit()">
<table>
    <thead>
        <tr>
            <td><h1>Groups</h1></td>
        </tr>
    </thead>
    <tbody>
<tr  *ngFor='let group of Groups.controls;index as i'>
    <td>
    <h4>Group Name:</h4>
    </td>
    <td>
        <add-groups
        [currentFormGroup]="group" [currentIndex]="i"></add-groups>
    </td>
    <td>
        <button type="button"(click)="updateGroup()">Update</button>
    </td>
    <td>
        <button type="button" (click)="deleteGroup()">Delete</button>
    </td>
</tr>
    </tbody>
</table>
<br/>
<div>
    <button type="button" class=btn2 (click)="AddGroup()">Add new group</button>
</div><br/><br/>
<div>
    <button type="submit" class="btn2" >Save All Changes</button>
</div>
</form>



