
<table>
    <thead>
        <tr>
            <td><h1>Groups</h1></td>
        </tr>
    </thead>
    <tbody>
<tr  *ngFor="let group of groups">
    <td>
    <h4>Group Name:</h4>
    </td>
    <td>
        <input type="groupName" disabled="disabled" placeholder="{{group.groupName}}"/>

    </td>
    <td>
        <button (click)="routeToUpdateGroup(group.groupName)">Update</button>
    </td>
    <td>
        <button (click)="deleteGroup()">Delete</button>
    </td>
</tr>
    </tbody>
</table>
<br/><br/>
<br/>
<br/>
<br/>

<div>
    <button class=btn2 (click)="routeToAddGroup()">Add new group</button>
</div>
