input{
  background: #eee;
  border: none;
  width:70%;
  padding: 10px 15px;
  margin: 2px;

}
  select{
    background: #eee;
    border: none;
    width:70%;
    padding: 10px 15px;
    margin: 2px;
  }
  form{
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  h1{
    color: black;
    text-shadow: 2px 2px 7px purple;
    margin: auto;
    width: 70%;
    padding: 10px;

}
.add-btn{
    margin: auto;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    background-color: purple;
 
}
.btn-dark{
  color:rgb(197, 129, 197);
    background-color: black;
}

.dropdown-menu li {
    width: auto;
    min-width: 300px; 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-menu li:hover {background-color: #f1f1f1}
  .dropdown-menu{
      width: auto;
  }
  #select-btn{
      min-width: 200px;
  }
  label{
    color:purple;
    font-size: medium;
    font-weight: bold;
  }
  h4{
    font-weight: bold;
  }

  .validation-msg{
    color:purple;
    height: 5px;
  }

