<div id="mean" [formGroup]="currentFormGroup" >
  
    <br/>
<select type="text"  formControlName="typeOfMeanContact" form="currentFormGroup" (change)="setValidators($event)">
    <option hidden *ngIf="currentFormGroup.value.typeOfMeanContact">{{currentFormGroup.value.typeOfMeanContact}} </option>
    <option hidden *ngIf="!currentFormGroup.value.typeOfMeanContact">Select mean of contract </option>
    <option   *ngFor="let key of keys();">{{key}}</option>
    </select> 
    <br/> <br/>
   

<input type="text"  formControlName="value" placeholder="Enter a value" form="currentFormGroup" (change)="setValue($event)"> 
<div class="validation-msg" *ngIf="currentFormGroup.get('value').invalid && currentFormGroup.get('value').touched">
    *Invalid value
</div> 
<br/> <br/>

</div>
